@use '../../global.scss' as global;

@mixin flex($align: center, $justify: space-between, $gap: 0) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
    gap: $gap;
}

.card-container {
    border-radius: 1.49263rem;
    border: 0.995px solid #F4F4F6;
    background: #FFF;
    box-shadow: 4.73px 56.755px 28.377px 0px rgba(229, 229, 229, 0.70);
    max-width: 20rem;
}

.card-img {
    border-radius: 1.49263rem 1.49263rem 0rem 0rem;
    opacity: 0.9;
    width: 100%;
}

.card-info {
    @include flex(end, space-between);
    padding: 0.5rem 0.8rem 0.8rem 1.7rem;
}

.card-rating {
    @include flex(center, flex-start, 0.3rem);
}

.highlight {
    display: inline;
    padding: 0.15rem 0.4rem;
    color: #DAA31A;
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: 0.63519rem;
    font-weight: 400;
    border-radius: 0.26844rem;
    background: #F7EDD0;

    &.red {
        color: #FB471D;
        background: #F7C5BA;
    }
}

.card-title {
    color: global.$main-color;
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: 1.282rem;
    font-weight: 600;
    line-height: 162.5%;
}

.card-rating {
    display: flex;
    align-items: center;
    gap: 0.3rem;

    color: #8E97A6;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Manrope;
    font-size: 0.9615rem;
    font-weight: 400;
    line-height: 133.333%;
}

.card-bookmark {
    cursor: pointer;
}

@media (min-width: 768px) {
    .card-container {
        max-width: 18rem;
    }

    .highlight {
        font-size: 0.567rem;
    }

    .card-title {
        font-size: 1.14606rem;
        line-height: 162.5%;
    }

    .card-rating {
        font-size: 0.85956rem;
    }

    .card-bookmark {
        transition: transform 0.2s ease;

        &:hover {
            transform: scale(1.05);
        }
    }
}

@media (min-width: 1200px) {
    .card-container {
        max-width: 24rem;
    }

    .highlight {
        font-size: 0.7rem;
    }

    .card-title {
        font-size: 1.4rem;
    }

    .card-rating {
        font-size: 1rem;
    }
}