@use '../../global.scss' as global;

.button {
    display: inline-block;
    border-radius: 0.62106rem;
    background: global.$accent-color;
    color: #FFF;
    font-size: 0.81419rem;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.00813rem;
    padding: 0.9rem 1.5rem;

    &.transparent {
        border: 1.201px solid global.$accent-color;
        background: transparent;
        color: global.$accent-color;
    }

    &.arrow {
        display: flex;
        gap: 0.56rem;
        padding: 0.8rem 1rem;
    }
}

@media (min-width: 768px) {
    .button {
        font-size: 0.72313rem;
        transition: transform 0.2s ease;

        &.transparent {
            font-size: 0.72313rem;
        }

        &.arrow {
            font-size: 0.80275rem;
        }

        &:hover {
            transform: scale(1.02);
        }
    }
}

@media (min-width: 1200px) {
    .button {
        font-size: 1rem;
        
        &.transparent {
            font-size: 1rem;
        }

        &.arrow {
            font-size: 0.9rem;
        }
    }
}