@use '../../global.scss' as global;

.header {
    padding: 2rem 0 4.7rem;

    position: relative;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1.9rem;

    border-bottom: 0.03rem solid global.$line-color;
}

.header-logo {
    display: flex;
    align-items: center;
    gap: 0.7rem;
}

.logo-text {
    color: global.$accent-color;
    font-size: 1.3235rem;
    font-weight: 600;
    line-height: 130%;
}

.header-nav {
    position: relative;
}

.header-content {
    padding-top: 3.56rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-text {
    margin-bottom: 2.58rem;
}

.subtitle-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    margin-bottom: 0.3rem;
}

.header-subtitle {
    font-size: 0.578rem;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 0.07706rem;
}

.header-title {
    text-align: center;
    font-size: 2.88994rem;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: -0.11563rem;

    margin-bottom: 1rem;

    .extra-text {
        display: none;
    }
}

.header-description {
    color: global.$description-color;
    text-align: center;
    font-family: Inter;
    font-size: 0.69356rem;
    font-weight: 400;
    line-height: 155%;
}

.purple {
    color: global.$accent-color;
}

.header-buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;

    margin-bottom: 1.65rem;
}

.header-rating {
    display: flex;
    justify-content: center;
    align-items: end;

    color: global.$description-color;
    font-family: "Plus Jakarta Sans";
    font-size: 0.80069rem;
    font-weight: 500;
    line-height: 150%;

    margin-bottom: 3.06rem;
}

.header-img-container {
    text-align: center;
}

.rating-stars {
    margin-left: 1rem;
    margin-right: 0.46rem;
    margin-bottom: 0.25rem;

    align-items: center;
}

@media (min-width: 375px) {
    .header-text {
        max-width: 23rem;
    }
}

@media (min-width: 425px) {
    .header-title {
        font-size: 3rem;

        .extra-text {
            display: inline;
        }
    }

    .header-description {
        font-size: 0.8rem;
    }
}

@media (min-width: 768px) {
    .header-content {
        flex-direction: row;
        gap: 0.8rem;
    }

    .subtitle-container {
        justify-content: flex-start;
    }

    .header-title {
        text-align: left;
    }

    .header-description {
        text-align: left;
    }

    .header-buttons {
        justify-content: left;
    }

    .header-rating {
        justify-content: left;
    }
}

@media (min-width: 1024px) {
    .header-nav {
        padding-bottom: 1.1rem;
    }

    .header-title {
        font-size: 3.33331rem;
    }

    .header-text {
        max-width: 34rem;
    }

    .header-subtitle {
        font-size: 0.66669rem;
    }

    .header-description {
        font-size: 0.8rem;
    }

    .subtitle-container {
        margin-bottom: 0.8rem;
    }

    .header-content {
        gap: 1.7rem;
    }
}

@media (min-width: 1200px) {
    .header-nav {
        padding-bottom: 1.5rem;
    }

    .header-title {
        font-size: 4.6875rem;
    }

    .header-text {
        max-width: 40rem;
    }

    .header-subtitle {
        font-size: 0.9375rem;
        color: #676767;
    }

    .header-description {
        font-size: 1.125rem;
    }

    .subtitle-container {
        margin-bottom: 1.3rem;
    }
}